In [367]:
import pandas as pd
import numpy as np
import random
from datetime import datetime

## Features of the Dataset

### Do I eat out?
+ Time of Day (Early or Late, AM or PM Random Generator)
+ In Class (Boolean Yes or No)
+ Amount of Money (String Value contain)
+ Are there good places open? (Boolean Yes or No)
+ Do I eat out? (Boolean Yes or No)



+ Total Features: 5
+ How many instances?: 100,000

### Creating the 'Do I eat out feature'

In [360]:
eat_out = np.random.choice([True, False], size=100000)

### Creating the 'In Class' column

In [361]:
in_class = []

for status in eat_out:
    if status == True:
       in_class.append(np.random.choice([True, False], p=[.10, .90]))
    
    else:
        in_class.append(np.random.choice([False, True], p=[.40, .60]))

### Creating the 'Are there good places open?' feature

In [362]:
good_places_open = []

for status in eat_out:
    if status == True:
       good_places_open.append(np.random.choice([True, False], p=[.90, .10]))
    
    else:
        good_places_open.append(np.random.choice([False, True], p=[.50, .50]))

### Generating 'Amount of Money' Feauture

In [313]:
amount_of_money = []

for status in eat_out:
    if status:
        choices = [round(random.uniform(55, 250), 2), round(random.uniform(0.0, 55), 2)]
        
        probabilities = [.90, .10]
        
        dollar_amount = np.random.choice(choices, p=probabilities)
        
        amount_of_money.append(dollar_amount)
    

    else:
        choices = [round(random.uniform(55, 250), 2), round(random.uniform(0.0, 55), 2)]
        
        probabilities = [.41, .59]
        
        dollar_amount = np.random.choice(choices, p=probabilities)
        
        amount_of_money.append(dollar_amount)

In [363]:
my_data = {'In Class?':in_class, 'Are there good places open?':good_places_open, 
           'Amount Of Money (In Dollars)':amount_of_money, 'Do I eat out?':eat_out}

dummy_set = pd.DataFrame(data=my_data)

In [319]:
dummy_set.head(4)

,In Class?,Are there good places open?,Amount Of Money (In Dollars),Do I eat out?
0,True,True,83.46,False
1,False,True,201.46,True
2,False,True,244.49,True
3,True,True,37.84,False

### Generating 'Time of Day' Feature

If you eat out on campus, its more likely that your current location is close by your resturant of interest.
However, there is still the chance that a resturant is far but you still go out of your way to eat there. For instance, 
if the good places are still open and you have a good amount of money, and it is not late, then you are likely to go to that resturant even if it is far away.

In [364]:
current_time = []

for i in range(len(eat_out)):
    early = random.randint(10, 19)
    late = random.choice([20, 21, 22, 23, 0, 1, 2])
    
    if eat_out[i] and not in_class[i] and good_places_open[i]:
        probabilities_t = [0.80, 0.20]
        time_choices_hrs = [early, late]
        
    elif not eat_out[i] and not in_class[i] and not good_places_open[i]:
        probabilities_t = [0.25, 0.75]
        time_choices_hrs = [early, late]
        
    elif not eat_out[i] and in_class[i] and good_places_open[i]:
        probabilities_t = [0.60, 0.40]
        time_choices_hrs = [early, late]
        
    elif eat_out[i] and in_class[i]:
        probabilities_t = [0.90, 0.10]
        time_choices_hrs = [early, late]
        
    hour = np.random.choice(time_choices_hrs, p=probabilities_t)
    minute = random.randint(0, 59)

    now = datetime.now()
    random_time = datetime(now.year, now.month, now.day, hour, minute)
    given_time = random_time.strftime("%H:%M")
    current_time.append(given_time)

In [365]:
my_data = {'In Class?':in_class, 'Are there good places open?':good_places_open, 
           'Amount Of Money (In Dollars)':amount_of_money, 'Time of Day (24-Hour)':current_time, 
           'Do I eat out?':eat_out}

dummy_set = pd.DataFrame(data=my_data)

In [366]:
dummy_set

,In Class?,Are there good places open?,Amount Of Money (In Dollars),Time of Day (24-Hour),Do I eat out?
0,True,False,83.46,17:42,False
1,False,True,201.46,14:27,True
2,False,True,244.49,19:22,True
3,True,True,37.84,21:25,False
4,False,True,42.73,18:28,True
...,...,...,...,...,...
99995,True,True,234.11,21:45,False
99996,True,True,162.58,10:13,True
99997,False,True,173.47,17:49,True
99998,True,True,25.98,14:19,False
99999,False,True,49.93,14:14,True

In [370]:
dummy_set.to_feather('Eating_Dataset.feather')